@{ 
   ViewBag.Title = "Credential";
}

@using EMSDomain.ViewModel

@model CredentialItem

@using (@Html.BeginForm("Edit", "Credential", FormMethod.Post))
{
      @Html.HiddenFor(m => m.Viewbagidformenu, new { @Value = @ViewBag.Menuid })
    @Html.HiddenFor(m => m.CrID)
    <section class="content-header">
        <h1>Password <small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Dashboard/Index"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
        <div class="panel panel-info">
            <div class="panel-heading">Password Details</div>
            <div class="panel-body">
                <div class="form-group">
                       @Html.Label("Company ", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.CompID, new SelectList(Model.ListCompany, "id", "CompName"), "--Select Company--", new { @class = "form-control select2", @id = "ddlComp" })
                    @Html.ValidationMessageFor(m => m.CompID)
                    @Html.HiddenFor(m=>m.CompID)
                </div>
                @*    @Html.LabelFor(m => m.Branch_ID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.Branch_ID, new SelectList(Model.ListBranch, "id", "BranchName"), "--Select Branch--", new { @class = "form-control", @id = "Branch_ID" })

                </div>*@
                <div class="col-sm-12" style="height: 5px;"></div>
                    @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
                    </div>

                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m=>m.Password)
                    </div>
                      <div class="col-sm-12" style="height: 5px;"></div>
                    @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>

                    @Html.LabelFor(m => m.Mobile, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                    </div>
                      <div class="col-sm-12" style="height: 5px;"></div>
                    @Html.LabelFor(m => m.URL, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.URL, new { @class = "form-control" })
                    </div>
                          @Html.LabelFor(m => m.AssignTo, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.AssignTo, new { @class = "form-control" })
                    </div>
                
                    <div class="col-sm-12" style="height: 5px;"></div>
              

                    @Html.LabelFor(m => m.Remarks, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control" })
                        
                    </div>
               @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 control-label" })

                    <div class="col-sm-4">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>
                   

                    <div class="col-sm-12" style="height: 5px;"></div>
                <div class="col-xs-10">
                    <div class="col-sm-3" style="width: 179px;"></div>
                    <input type="Submit" value="Update" class="btn btn-primary" />
                </div>
                </div>
            </div>
        </div>

    
    
}