@using EMSDomain.ViewModel.Employee
@{
    ViewBag.Title = "Visa";
}

@model EmpVisaItem
@{
    int Empid = ViewBag.Empid;
}
@using (@Html.BeginForm("Create", "Visa", FormMethod.Post, new { @id = "formVisa" }))
{
    @Html.HiddenFor(m => m.Viewbagidformenu, new { @Value = @ViewBag.Menuid })
    <section class="content-header">
        <h1>Visa<small>Master</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Dashboard/Index"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Dashboard</li>
        </ol>

    </section>
    <div class="panel panel-info" id="dvAdd">
        <div class="panel-heading">Visa Details <input type="button" id="btnBack" value="Back" class="btnAdd btn btn-primary" /></div>
        <div class="panel-body">
            <div class="form-group">
                   @Html.LabelFor(m => m.VisaTypeId, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(m => m.IssueCountry, new { @class = "form-control" })*@
                    @Html.DropDownListFor(m => m.VisaTypeId, new SelectList(Model.ListVisaType, "Id", "Name"), "--Select Visa Type--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.VisaTypeId)
                </div>
                   @Html.LabelFor(m => m.ComID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    
                    @Html.DropDownListFor(m => m.ComID, new SelectList(Model.ListComp, "id", "CompName"), "--Select Company--", new { @class = "form-control",@id="ddlComp" })
                    @Html.ValidationMessageFor(m => m.ComID)
                </div>
                <div class="col-sm-12" style="height: 5px;"></div>
                @Html.LabelFor(m => m.VisaNo, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.VisaNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.VisaNo)
                    @*        @Html.DropDownListFor(m => m.Country, new SelectList(Model.CountryList, "Id", "CountryName"), "--Select Country", new { @class = "form-control select2" })*@
                </div>

                @Html.LabelFor(m => m.PlaceOfIssue, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.PlaceOfIssue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PlaceOfIssue)
                </div>
                <div class="col-sm-12" style="height: 5px;"></div>

                @Html.LabelFor(m => m.IssueCountry, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(m => m.IssueCountry, new { @class = "form-control" })*@
                    @Html.DropDownListFor(m => m.IssueCountry, new SelectList(Model.ListCountry, "Id", "Name"), "--Select Country--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IssueCountry)
                </div>

                @Html.LabelFor(m => m.IssueDate, new { @class = "col-sm-2 control-label" })

                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.IssueDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.IssueDate)
                </div>
                <div class="col-sm-12" style="height: 5px;"></div>
                @Html.LabelFor(m => m.ExpiryDate, new { @class = "col-sm-2 control-label" })

                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.ExpiryDate)
                </div>

                @Html.LabelFor(m => m.ReniewDate, new { @class = "col-sm-2 control-label" })

                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ReniewDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.ReniewDate)
                </div>
                <div class="col-sm-12" style="height: 5px;"></div>
                @Html.LabelFor(m => m.UID, new { @class = "col-sm-2 control-label" })

                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.UID, new { @class = "form-control" })
                    
                </div>

                @Html.LabelFor(m => m.VisaStatusId, new { @class = "col-sm-2 control-label" })

                <div class="col-sm-4">
                    @Html.DropDownListFor(m => m.VisaStatusId, new SelectList(Model.MasterDetails, "Id", "Name"), "--Select--", new { @class = "form-control Select2" })
                    @Html.ValidationMessageFor(m => m.VisaStatusId)
                </div>
           



                <div class="col-sm-12" style="height: 5px;"></div>
                @* @Html.LabelFor(m => m.Status, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.RadioButtonFor(m => m.Status, "Active")Active
                        @Html.RadioButtonFor(m => m.Status, "InActive")In-Active                   
                </div>*@
                        @Html.LabelFor(m => m.Designation, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Designation, new { @class = "form-control" })
                </div>
                     @Html.LabelFor(m => m.Remarks, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control" })
                </div>
                <div class="col-sm-12" style="height: 5px;"></div>
                <div class="col-xs-10">
                    <div class="col-sm-3" style="width: 179px;"></div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-info" id="dvGrid">
        <div class="panel-heading">Visa Details List <span class="label label-primary">@Model.ListVisa.Count</span> <input type="button" id="btnAdd" value="Add New" class="btnAdd btn btn-primary" /></div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table" id="tbl">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Visa No</th>
                            <th>Country</th>
                            <th>Issue-Date</th>
                            <th>Expiry-Date</th>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListVisa)
                        {
                            <tr>
                                <td>@item.EmpDetails.Empname</td>
                                <td>@item.VisaNo</td>
                                <td>@item.ConDetails.Name</td>
                                @if (@item.IssueDate != null)
                                {
                                <td>@item.IssueDate.Value.ToString("dd/MM/yyyy")</td>
                                }else{<td></td>}
                                @if (@item.ExpiryDate != null)
                                {
                                <td>@item.ExpiryDate.Value.ToString("dd/MM/yyyy")</td>
                                }else{<td></td>}
                                <td>@Html.ActionLink(" ", "Edit", new { @id = Empid, @VId = @item.VId, @menuId = Convert.ToInt32(Request.QueryString["menuid"]) }, new { @class = "fa fa-pencil-square fa-lg" })
                                    &nbsp;@Html.ActionLink(" ", "View", new {@id = Empid,@VId = @item.VId, @menuId = Convert.ToInt32(Request.QueryString["menuid"])}, new { @class="fa fa-eye"})
                                    &nbsp;@Html.ActionLink(" ", "Delete", new { @id = @item.EmpId, @VId = @item.VId, @menuId = Convert.ToInt32(Request.QueryString["menuid"]) }, new { onclick = "return confirm('Do you really want to delete the visa details of " + @item.EmpDetails.Empname + "?')", @class = "fa fa-trash fa-lg" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Visa Documents <span class="label label-primary">@Model.ListVisaDoc.Count</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Documents</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListVisaDoc)
                        {
                            <tr>
                                <td>
                                    @{ string FileUrl = HttpContext.Current.Request.MapPath("~/UploadedDocs" + @item.DocDetails.FileUrl);
                                    }
                                    <a href="@Url.Content(@item.DocDetails.FileUrl)" target="_blank">@item.DocDetails.FileName</a>
                                </td>

                                <td>
                                    @Html.ActionLink(" ", "DeleteDoc", new { @id = @item.DocDetails.EmpId, @DID = @item.DocDetails.Id, @menuId = Convert.ToInt32(Request.QueryString["menuid"]) }, new { onclick = "return confirm('Do you really want to delete the document " + @item.DocDetails.FileName + "?')" , @class = "fa fa-trash fa-lg" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



